
/* Font */
/* font-family: 'Montserrat', sans-serif; */
@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf'); 
}
/* font-family: 'Bebas Neue', cursive; */
@font-face {
    font-family: Bebas Neue;
    src: url('../public/fonts/Bebas_Neue/BebasNeue-Regular.ttf'); 
}
/* font-family: 'Norwester', sans-serif; */
@font-face {
    font-family: Norwester;
    src: url('../public/fonts/Norwester/norwester.otf'); 
}
/* font-family: 'Glacial Indifference', sans-serif; */
@font-face {
    font-family: Glacial Indifference;
    src: url('../public/fonts/Glacial_Indifference/GlacialIndifference-Regular.otf'); 
}
/* font-family: 'InterMedium', sans-serif; */
@font-face {
    font-family: InterMedium;
    src: url('../public/fonts/Inter/Inter-Medium.ttf'); 
}
/* font-family: 'InterBold', sans-serif; */
@font-face {
    font-family: InterBold;
    src: url('../public/fonts/Inter/Inter-Bold.ttf'); 
}
/* font-family: 'OpenSans', sans-serif; */
@font-face {
    font-family: OpenSans;
    src: url('../public/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf'); 
}

/* Overral */
body {
    overflow: -moz-scrollbars-none; /* Hide scroll bar on Firefox */
    -ms-overflow-style: none; /* Hide scroll bar on Internet Explorer +10 */
    overflow-x: hidden; /* Hide the horizontal scroll bar */
}
body::-webkit-scrollbar { 
    width: 0 !important /* Hide scroll bars on Chrome, Safari, newer versions of Opera */
}
img {
    width: 100%;
    height: auto;
}

/* Color and text config */
.bg-e {
    background-color: #31313a;
}
.text-smooth-white {
    color: rgb(237, 223, 223)!important;
}
.text-justify {
    text-align: justify;
}
.blue-config {
    color: blue;
}
.green-config {
    color: rgb(0, 184, 0);
}

/*  */
.min-logo {
    width: auto;
    height: 100px!important;
}
.min-navbar {
    padding-left: 20px;
    padding-right: 20px;
}
.min-nav-icon {
    margin: 15px;
    display: flex;
    font-size: larger;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    color: black;
    transition: all 0.2s ease-in-out;
}
.min-nav-icon:hover {
    /* transform: scale(1.2); */
    color: rgb(104, 63, 63);
}

.min-nav-btn {
    background-color: rgb(18, 17, 17);
    margin-left: 15px;
    margin-right: 0px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-decoration: none;

    background: linear-gradient(to left, rgb(18, 17, 17) 50%, rgb(202, 202, 202) 50%) right;
    background-size: 200%;
    transition: all 0.3s ease-in-out;
}
.min-nav-btn:hover {
    background-position: left;
    color: #000000;
}

.min-nav-link {
    margin: auto;
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', cursive;
    margin-left: 15px!important;
    margin-right: 10px!important;
    transition: all 0.2s ease-in-out;
}

.min-nav-link:hover {
    color: rgb(115, 115, 115);
}

.undisplay {
    display: none!important;
}
.min-navavt-wrapper {
    display: flex;
    align-items: center;
}
.min-nav-avt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    z-index: 10;
}

.min-login-bg {
    background: url('../public/images/bg/login-bg.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: relative;
}
.min-login-wrapper {
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    width: 700px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: auto;
    box-shadow: 0px 0px 8px #000000;
}
.left-img-login {
    position: relative;
    float: left;
    width: 350px;
    height: 100%;
    background-image: url("../public/images/bg/popup-login.png");
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.text-login-intro {
    font-family: 'Norwester', sans-serif; 
    font-size: xx-large;
    color: white;
    padding: 25px;
    position: absolute;
    top: 50px;
    text-shadow: -4px 2px 8px #636363;

}
.text-login-detail {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: medium;
    color: white;
    padding: 25px;
    position: absolute;
    bottom: 10px;
    text-align: justify;
    opacity: 90%;
}
.sub-textlogin-detail {
    display: block;
    font-size: 8px!important;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
}
.menu-title-xlarge {
    font-family: 'Norwester', sans-serif;
    font-size: x-large;
    font-weight: 600;
}
.menu-text-large {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: large;
    font-weight: 600;
}
.menu-text-me {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: medium;
    font-weight: 500;
}
.right-side-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 350px;
    height: 100%;
}
.login-data-require {
    width: 100%;
    border-radius: 0.5rem;
    padding: 10px;
    padding-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Glacial Indifference', sans-serif;
    transition: all 0.6s ease-in-out;
}
.login-data-require.active {
    padding-left: 10px!important;
}
.ldr-wrapper {
    position: relative;
    display: block;
}
.ldr-i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: transform 0.6s ease-in-out, opacity 0.4s ease-in-out;
}
.ldr-i.unactive {
    opacity: 0;
    transform: translate(-2em, -0.5em);
}
.login-form {
    width: 100%;
}
.login-btn {
    border: none;
    outline: none;
    border-radius: 1rem;
    font-family: 'Norwester', sans-serif; 
    color: rgb(238, 238, 238);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-image: linear-gradient(to right, #56CCF2 0%, #2F80ED  51%, #56CCF2  100%);
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    display: block;
    background-size: 200% auto;
    margin: auto;
}
.login-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.social-wrapper {
    width: 100%;
    height: 100px;
}
.social-login-btnwrapper {
    display: flex;
    justify-content: center;
}
.social-login-btn {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    margin: 10px;
}
.social-login-btn:hover {
    transform: scale(1.2);
}
.create-new-acc-link {
    text-decoration: none;

}
.input-error {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Bebas Neue', cursive;
    color: red;
    font-weight: 1000;
    font-size: large;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.input-error.active {
    visibility: visible;
    opacity: 1;
}
.error-notify {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: medium;
    font-weight: 700;
    color: red;
    min-height: 1em;
    line-height: 1;
}
.login-noti-wrapper {
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: relative;
    /* Hidden */
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.login-noti-wrapper.active {
    animation: fadein 0.3s ease-in-out;
    animation-fill-mode: forwards;
}
.login-noti {
    background-color: white;
    width: 400px;
    height: 400px;
    border: none;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.check-icon {
    width: 100px;
    height: 100px;
}
.empty-btn {
    border: none!important;
    outline: none!important;
    background: transparent!important;
}
.intro {
    position: relative;
}
.intro-img {
    width: 100%;
    height: 90vh;
}
.intro-text-holder {
    text-align: center;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.font-inter-bold {
    font-family: 'InterBold', sans-serif;
}
.intro-title {
    font-family: 'InterBold', sans-serif;
    color: white;
    font-size: 38px;
    letter-spacing: 1px;
}
.intro-line {
    color: white;
    width: 100px;
    height: 2px;
    border-radius: 5rem;
    background-color: white;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}
.intro-describe {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: small;
}
.intro-social-link {
    font-family: 'InterMedium', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: small;
}
.intro-social-link-holder {
    text-align: center;
    z-index: 999;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.getstarted-btn {
    background-color: white; /* Default */
    border: none;
    outline: none;
    font-family: 'InterBold', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;

    /* Prepare Hover Effect */
    background: linear-gradient(to left, white 50%, red 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.3s ease-in-out, color 0.2s ease-in-out;
}
.getstarted-btn:hover {
    background-position: left;
    color: white;
}
.decoration-icon-rocket {
    width: 150px;
    position: absolute;
    z-index: 999;
    bottom: 0;
    right: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
.body-title {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'InterBold', sans-serif; */
    text-transform: uppercase;
    color: black;
    font-size: xx-large;
    font-weight: 900;
}
.smooth-border {
    border-radius: 1.2rem;
}

.footer {
    margin-top: 40px;
    background: linear-gradient(to right, #010518, #3d0f01);
}
.footer-title {
    font-family: 'InterBold', sans-serif;
    color: white;
    font-size: 25px;
}
.footer-sm-title {
    font-family: 'InterBold', sans-serif;
    color: white;
    font-size: 20px;
    opacity: 90%;
}
.footer-description {
    font-family: 'OpenSans', sans-serif;
    color: white;
    opacity: 70%;
    text-align: justify;
}
.footer-email {
    color: white;
    border-bottom: 3px solid #8b8b8b;
}
.footer-phonenumber {
    color: white;
    font-size: small;
    font-weight: 1000;
    opacity: 80%;
}
.footer-link {
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 800;
    opacity: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}
.footer-link-holder {
    padding-bottom: 12px;
}
.footer-icon {
    color: white;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}
.footer-icon:hover {
    color: #8fd93f;
}
.footer-last-part {
    /* text-align: right; */
    margin-right: 100px;
}
.footer-copyright {
    text-align: center;
}
.footer-line {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    color: white;
    height: 1.5px;
    background-color: white;
    opacity: 80%;
}
.body-text {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-align: justify;
}
.homebtn {
    position: relative;
}
.home_btn_ver1 {
    font-family: 'InterBold', sans-serif;
    background-color: rgb(29, 29, 29);
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px;
    padding-right: 32px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.home_btn_ver1:before, .home_btn_ver1:after {
    content: '';
    display: block;
    position: absolute;
    border: 2px solid;
    width: 20%;
    height: 40%;
    transition: all 0.8s ease-in-out;
}
.home_btn_ver1:before {
    top: 0;
    left: 0;
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.home_btn_ver1:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
}
.home_btn_ver1:hover:before {
    border-top-color: #000000;
    border-left-color: #000000;
}
.home_btn_ver1:hover:after {
    border-bottom-color: #000000;
    border-right-color: #000000;
}
.home_btn_ver1:hover:before, .home_btn_ver1:hover:after {
    width: 100%;
    height: 100%;
}
.home_btn_ver1:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.topic_slide_img {
    border-radius: 2rem;
    filter: brightness(0.5);
}
.topic_slide_item_detail {
    position: absolute;
    bottom: 20px;
    left: 35%;
    transform: translateX(-35%);
    width: 60%;
    z-index: 999;
}
.slide_title {
    font-family: 'InterBold', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.slide_line {
    width: 70px;
    height: 3px;
    background-color: white;
    opacity: 1;
}
.slide_text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    opacity: 80%;
    font-size: 15px;
}
.slide_item_button {
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
.slide_item_button:hover {
    box-shadow: 0px 0px 20px white;
}
.body-text-white {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.management-dropdown-holder {
    position: relative;
}
.management-dropdown {
    position: absolute;
    background-color: white;
    top: 25px;
    right: 50%;
    transform: translateX(50%);
    width: 50px;
    height: 0px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 4px 10px #3e3e3e;
    padding-top: 35px;
    z-index: 9;
}
.management-icon {
    width: 40px;
    
}

          
@keyframes fadein {
    0% { opacity: 0; visibility: visible; }
    100% { opacity: 1; visibility: visible; }
}          
@keyframes fadeout {
    0% { opacity: 1; visibility: visible; }
    100% { opacity: 0; visibility: visible; }
}
 
 

